@import "variables";

.texto-productos {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.texto-blog {
@extend .texto-productos;
}

.texto-nosotros1 {
    @extend .texto-productos
}

.texto-nosotros2 {
    @extend .texto-productos
}

.img-nosotros {
    display: block;
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 50px;
}

.video {
@extend .img-nosotros;
}

.anchoFooter{
    margin-top: 30px;
}

.bi-facebook {
@include redes-sociales ($fb);
}

.bi-instagram {
@include redes-sociales ($insta);
}

.bi-linkedin {
@include redes-sociales ($linkedin);
}

.bi-youtube {
@include redes-sociales ($youtube);
}

